.homeworlds {
  grid-area: homeworlds;
}

.homeworlds label {
  display: inline-block;
  white-space: nowrap;
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);
}

@media (min-width: 600px) {
  .homeworlds label {
    display: block;
  }
}
